:root {
    --font-display:'Lobster', cursive;
    --font-sans-serif:'Roboto Condensed', sans-serif;
    --col-black: #191919;
    --col-semi-black: #19191988;
    --col-white: #e5e5e5;
    --card-width: 5rem;
}

body {
    height: 100vh;
    width: 100vw;
    background: url(./assets/background.jpg);
    background-size: cover;
    font-family: var(--font-sans-serif);
    color: var(--col-white);
    display: grid;
    grid-template-rows: 10vh 1fr 5vh;
    font-size: 1.5rem;
    overflow: hidden;
}

button {
    border: none;
    padding: none;
    outline: none;
    transform: scale(1);
    transition: transform 100ms ease-out;
}

button:hover{
    cursor: pointer;
    transform: scale(1.1);
}

.header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: var(--col-semi-black);
    color: var(--col-white);
    font-family: var(--font-display);
    height: 10vh;
    gap: 1rem;
    border-bottom: 1px solid var(--col-black);
}

.header .title {
    font-size: 3rem;
}

.header .logo {
    background: url(./favicon.svg);
    background-size: cover;
    height: 3.5rem;
    width: 3.5rem;
    border-radius: 1rem;
    background-color: var(--col-white);
    margin-left: 2rem;
    padding: 0.5rem;
}

.header .switch {
    margin-left: auto;
    margin-right: 2rem;
    height: fit-content;
    width: fit-content;
}

input[type="radio"] {
    display: none;
}

label {
    font-size: 1.5rem;
    font-family: var(--font-sans-serif);
    font-weight: 600;
    padding: 0.5rem 0rem;
    opacity: 0.7;
    text-shadow: 0 0 0 var(--col-black);
    transition: opacity 200ms ease-in;
    transition: text-shadow 200ms ease-in;
}

label:hover {
    cursor: pointer;
}

label[for="metric"]::after,
label[for="imperial"]::before {
    content: "|";
    font-size: 1.8rem;
}


label[for="metric"]::after {
    padding-left: 0.1rem;
}

label[for="imperial"]::before {
    padding-right: 0.5rem;
}

input[type="text"] {
    width: calc(var(--card-width) * 4);
    background-color: transparent;
    color: var(--col-white);
    border: none;
    outline: none;
    border-bottom: 3px solid var(--col-semi-black);
    font-size: 2.5rem;
    font-family: var(--font-sans-serif);
}

input[type="radio"]:checked + label {
    opacity: 1;
    text-shadow: 0 0 3px var(--col-black);
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main .card {
    width: fit-content;
    height: fit-content;
    background-color: var(--col-semi-black);
    padding: 1rem;
    border-radius: 1rem;
    border: 1px solid var(--col-black);
    box-shadow: 0 0 3px var(--col-black);
    display: grid;
    grid-template-areas:
        "place place temperature"
        "country blank temperature"
        "date  blank feelslike"
        "condition blank temp-min"
        "humidity blank temp-max"
        "wind-speed wind-speed chance-of"
        "title title title"
        "hourly hourly hourly"
        "hourly hourly hourly";
    gap: 0.5rem;
}

.card > * {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;
}

.feelslike,
.temp-min,
.temp-max,
.chance-of {
    justify-content: flex-end;
}

.icon {
    --side: 1.5rem;
    opacity: 0.7;
    display: inline-block;
    background-size: cover;
    height: var(--side);
    width: var(--side);
    order: -1;
}

.place .icon {
    background: url("./assets/map-marker-radius.svg");
    --side: 3rem;
    opacity: 1;
}

.place .cancel,
.place .submit {
    opacity: 0.8;
    --side: 2.5rem;
}

.place .cancel {
    background: url("./assets/cancel.svg");
    order: 3;
}

.place .submit {
    background: url("./assets/keyboard-return.svg");
    order: 2;
    margin-top: auto;
}

.date .icon {
    background: url("./assets/calendar-range.svg");
}

.humidity .icon {
    background: url("./assets/water-percent.svg");
}

.wind-speed .icon {
    background: url("./assets/weather-windy.svg");
}

.condition .icon,
.scroll .icon {
    filter: grayscale();
    background-size: contain;
    background-position-x: 10%;
}

.feelslike .icon {
    background: url("./assets/thermometer.svg");
}

.temp-min .icon {
    background: url("./assets/thermometer-chevron-down.svg");
}

.temp-max .icon {
    background: url("./assets/thermometer-chevron-up.svg");
}

.rain .icon {
    background: url("./assets/weather-pouring.svg");
}

.snow .icon {
    background: url("./assets/snowflake.svg");
}

.no-fallout .icon {
    background: url("./assets/weather-sunny.svg");
}

.main .place {
    grid-area: place;
    font-size: 3rem;
    font-weight: 600;
}

.main .country {
    grid-area: country;
    font-size: 2rem;
    font-family: var(--font-display);
    padding-left: 4rem;
    position: relative;
    top: -40%;
    left: -5%;
}

.main .condition {
    grid-area: condition;
}

.main .temperature {
    grid-area: temperature;
    font-size: 6rem;
    font-family: var(--font-display);
    margin-left: auto;
}

.main .date {
    grid-area: date;
}

.main .feelslike {
    grid-area: feelslike;
}

.feelslike::before {
    content: "Feels like";
}

.main .humidity {
    grid-area: humidity;
}

.humidity::before {
    content: "Humidity";
}

.humidity::after,
.rain::after,
.snow::after {
    content: "%";
    position: relative;
    right: 3%;
}

.main .chance-of {
    grid-area: chance-of;
}

.main .wind-speed {
    grid-area: wind-speed;
}

.wind-speed::before {
    content: "Wind speed";
}

.main .temp-max {
    grid-area: temp-max;
}

.main .temp-min {
    grid-area: temp-min;
}

.temp-max::before {
    content: "Max";
}

.temp-min::before {
    content: "Min";
}

.main .hourly {
    grid-area: hourly;
    height: fit-content;
    width: calc(var(--card-width) * 9 + 5px);
    overflow-x: scroll;
    display: block;
}

.main .title {
    grid-area: title;
    font-family: var(--font-display);
    padding-top: 1rem;
    padding-bottom: 0.5rem;
}

.hourly .scroll {
    display: grid;
    grid-template-columns: repeat(24, 1fr);
    gap: 0.5rem;
}

.scroll .card {
    width: var(--card-width);
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
    border-radius: 0.5rem;
    margin-bottom: 0.5rem;
}

.scroll .temperature {
    padding: 0;
    font-size: 2rem;
    font-family: var(--font-sans-serif);
}

.scroll .icon {
    --side: 4rem;
}

::-webkit-scrollbar {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: var(--col-semi-black);
    border-radius: 0.5rem;
    border: 1px solid var(--col-black);
    box-shadow: 0 0 3px var(--col-black);
}

.footer {
    border-top: 1px solid var(--col-black);
}

.footer .title {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 0.5rem;
}

.footer .logo {
    background: url("./assets/github.svg");
    margin-top: 7%;
}

.footer a {
    text-decoration: none;
}

.night {
    background: url("./assets/weather-night.svg");
}

.sunrise {
    background: url("./assets/weather-sunset-up.svg");
}

.day {
    background: url("./assets/weather-sunny.svg");
}

.sunset {
    background: url("./assets/weather-sunset-down.svg");
}

.kilometers::after {
    content: "km/h";
}

.miles::after {
    content: "mph";
}

.celsius::after,
.farenheit::after {
    font-size: 60%;
    position: relative;
    right: 3%;
    align-self: flex-start;
}

.celsius::after {
    content: "°C";
}

.farenheit::after {
    content: "°F";
}

.rain::before {
    content: "Chance of Rain";
}

.snow::before {
    content: "Chance of Snow";
}

.no-fallout::before {
    content: "No fallout expected";
}

.footer {
    background-color: var(--col-semi-black);
    height: 5vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .main .hourly {
        width: calc(var(--card-width) * 7 + 3rem - 5px);
    }
}

@media screen and (max-width: 767px) {
    :root {
        --card-width: 3.5rem;
        --col-semi-black: #1919199f;
    }

    body {
        height: 100vh;
        width: 100vw;
        background: url("./assets/bg_mobile.jpg");
        grid-template-rows: 10vh 1fr 5vh;
        font-size: 1.3rem;
    }

    input[type="text"] {
        width: calc(var(--card-width) * 1.5);
        font-size: 2rem;
    }

    .icon {
        --side: 1.2rem;
        opacity: 1;
    }
    
    .header .title {
        font-size: 2rem;
    }
    
    .header .logo {
        height: 2.5rem;
        width: 2.5rem;
        margin-left: 0.5rem;
        padding: 0.5rem;
    }

    .header .switch {
        margin-right: 0.5rem;
    }

    label {
        font-size: 1.3rem;
    }

    label[for="metric"]::after,
    label[for="imperial"]::before {
    font-size: 1.5rem;
    }
    
    .main .card {
        grid-template-areas:
            "place temperature"
            "country temperature"
            "date date"
            "condition temp-min"
            "humidity temp-max"
            "feelslike feelslike"
            "wind-speed wind-speed"
            "chance-of chance-of"
            "title title"
            "hourly hourly"
            "hourly hourly";
        gap: 0.2rem;
    }

    .feelslike,
    .chance-of {
        justify-content: flex-start;
    }

    .place .cancel,
    .place .submit {
        --side: 1.5rem;
    }

    .main .place {
        font-size: 2rem;
    }

    .main .country {
        font-size: 1rem;
        position: initial;
        padding-left: 0;
    }

    .main .temperature {
        font-size: 3.5rem;
    }

    .main .hourly {
        margin: 0 auto;
        width: calc(var(--card-width) * 5 + 1rem - 4px);
    }

    .scroll .temperature {
        font-size: 1.3rem;
    }
    
    .scroll .icon {
        --side: 2rem;
    }
}